.page-enter-active,
.page-leave-active {
  transition: opacity .5s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

.is-active {
  background-color: #007bff;
  color: #fff;
}

.is-active:hover {
  background-color: #007bff;
  color: #fff;
}
